
* {
  font: 19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edecf0;
  display: flex;
  justify-content: center;
  align-items: center;
}



h1 {
  color: #a73c3c;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #fff;
  margin-top: 1rem;
  
  padding-bottom: 5px;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
 
}

.btn-down {
  margin-top: 13px;
  margin-left: 15px;
  color: gray;
  
}

.back{
  padding: 20px;
  
}

.etw-1{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 5px;
}

.font-back{
  size: 70px;
  font-size: xx-large;
  text-align: center;
}
.default-todo {
  align-items: start;
  padding-left: 10px;
}

.todo-input {
  outline: none;
  background: none;
  border-top: 1px solid #fcfcff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;

  padding-top: 5px;
  padding-left: 15px;
  
}



.todo-input::placeholder {
  color: #0000004d;
}

.todo-btn {
  background: #e9e7ef;
  color: #181616;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}


.cross {
  padding-left: 220px;
}

.Todo {
  display: flex;
  
  align-items: center;
  
  color: #1e1c1c;
  padding-top: 5px;
  padding-bottom: 10px;


  padding-left: 7px;
  padding-right: 5px;
  
  margin-bottom: 5px;
  margin-top: 5px;

  
  
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #d5d5e0;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #aaa8b0;
  text-decoration: line-through;
  align-items: start;
  padding-left: 10px;
}
 
.check_btn {
  color: 'green';
  margin-left: 9px;
  padding-top: 5px;
}

.down {
  font-size: 20px;
  color: #575353;
  border: #ffffff;
  background-color: #ffffff;
  margin: 20px ;
  -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.cross-btn {
  
  margin: auto 0;
	font-size: 20px;
	color: #d14949;
  transition: color 0.2s ease-out;
  border: #ffffff;
  background-color: #ffffff;
}

.checkbox-style {
  padding: 10px;
  margin: 10px;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.btn-input {
  display: flex;
  justify-content: center;
}

.btn-self {
  padding: 5px;
}

.number-of-elements {
  
  font-size: small;
  
  background-color: white;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);;
  
}


