@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edecf0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #a73c3c;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #fff;
  margin-top: 1rem;
  
  padding-bottom: 1rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;

  margin-bottom: 5px;
 
}

.btn-down {
  margin-top: 25px;
  margin-left: 15px;
  
  
}

.back{
  padding: 20px;
  
}

.etw-1{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 15px;
}

.font-back{
  size: 70px;
  font-size: xx-large;
}

.todo-input {
  outline: none;
  background: none;
  border-top: 1px solid #fcfcff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  width: 300px;
  
}



.todo-input::placeholder {
  color: #0000004d;
}

.todo-btn {
  background: #e9e7ef;
  color: #181616;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #1e1c1c;
  padding: 0.75rem 1rem;
  
  margin-bottom: 1rem;
  margin-top: 1rem;
  
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #d5d5e0;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #3a314e;
  text-decoration: line-through;
}
 
.check_btn {
  color: 'green';
}

.btn-input {
  display: flex;
  justify-content: center;
}

.btn-self {
  padding: 5px;
}


